#vvl-ddp-and-dop__faq-accordion.ws10-spacing-400
    .ws10-accordion.ws10-accordion--flat.ws10-accordion--open-individually
        details#ws10-accordion-item-details-1.ws10-accordion__item-details
            summary.ws10-accordion__item-summary(aria-controls='ws10-accordion-item-content-1' aria-expanded='false')
                span.ws10-accordion__item-summary-content
                    span.ws10-accordion__item-headline
                        | Welche Mobilfunk-Tarife kann ich mit dem iPhone 15 Pro kombinieren?
                    svg.ws10-accordion__item-chevron.ws10-system-icon.ws10-system-icon--size-200(aria-hidden='true')
                        use(xlink:href='/simplicity/icons/chevron-down.svg#icon')
            #ws10-accordion-item-content-1.ws10-accordion__item-content
                div.ws10-accordion__item-content-inner
                    p
                        | Hello World 1
        details#ws10-accordion-item-details-2.ws10-accordion__item-details
            summary.ws10-accordion__item-summary(aria-controls='ws10-accordion-item-content-2' aria-expanded='false')
                span.ws10-accordion__item-summary-content
                    span.ws10-accordion__item-headline
                        | Was sind die Vorteile, wenn ich ein Handy mit Vertrag nehme?
                    svg.ws10-accordion__item-chevron.ws10-system-icon.ws10-system-icon--size-200(aria-hidden='true')
                        use(xlink:href='/simplicity/icons/chevron-down.svg#icon')
            #ws10-accordion-item-content-2.ws10-accordion__item-content
                div.ws10-accordion__item-content-inner
                    p 
                        | Hello World 2
        details#ws10-accordion-item-details-3.ws10-accordion__item-details
            summary.ws10-accordion__item-summary(aria-controls='ws10-accordion-item-content-3' aria-expanded='false')
                span.ws10-accordion__item-summary-content
                    span.ws10-accordion__item-headline
                        | Was sind die Vorteile, wenn ich ein Handy mit Vertrag nehme?
                    svg.ws10-accordion__item-chevron.ws10-system-icon.ws10-system-icon--size-200(aria-hidden='true')
                        use(xlink:href='/simplicity/icons/chevron-down.svg#icon')
            #ws10-accordion-item-content-3.ws10-accordion__item-content
                div.ws10-accordion__item-content-inner
                    p 
                        | Hello World 3
