#vvl-hardware-details-accordions-container
    .ws10-belt-container.ws10-belt-container--padding-x-large.ws10-belt-container--bg-monochrome-100
        .ws10-belt-container__belt
            h2.ws10-headline.ws10-headline--h3.ws10-headline--left.ws10-spacing-100.ws10-spacing-200--large.ws10-is-hidden
                | Alle Details zu Deinem Smartphone
            include accordionForTechnicalDetails
            h2.ws10-headline.ws10-headline--h3.ws10-headline--left.ws10-spacing-100.ws10-spacing-200--large
                | Häufige Fragen zu unseren Smartphones und Tarifen
            include accordionForFaq
