.mod.mod-footnotes(tabindex='0' data-testid='mod-footnotes')
  input#834902.toggle-input(type='checkbox' sec_uuid='746c748a3ed8')
  label.lbl-toggle(for='834902')
    span.closed
      | Hinweise zu Aktionen
      svg.i-xsml
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='/simplicity/svgdefs.svg#i-arrow-down-sml')
    span.opened
      | Hinweise zu Aktionen
      svg.i-xsml
        use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='/simplicity/svgdefs.svg#i-arrow-up-sml')
  .collapsible-content
    .content-inner
      ol(start='4')
        li(style='counter-reset: step-counter 3')
          strong Kostenfreie Standard-Lieferung
      p
        strong Stand Februar 2024:
        |  Du verl&auml;ngerst Deinen Vertrag? Dann entfallen f&uuml;r Dich die 4,99 Euro Versandkosten f&uuml;r die Standard-Lieferung mit einem Ger&auml;t. Das gilt f&uuml;r die Tarife GigaMobil XS bis XL, GigaMobil Young S bis XL, DataGo S bis L, Red+ Data, FamilyCard und Smart S bis M. Und f&uuml;r Bestellungen auf vodafone.de oder &uuml;ber die Hotline.
      p
        strong
          | 200 GB zus&auml;tzliches Datenvolumen in den GigaMobil-Tarifen M bis L und GigaMobil Young L
          br
          | Aktion bis einschlie&szlig;lich 13. M&auml;rz 2024:
        |  Bei Neuabschluss oder Vertragsverl&auml;ngerung eines Mobilfunk-Vertrags im Tarif 
        strong GigaMobil M oder L
        |  und im 
        strong GigaMobil Young L
        |  bekommst Du 
        strong pro Monat 200 GB zus&auml;tzliches Datenvolumen
        |  f&uuml;rs Surfen im deutschen Vodafone-Netz. Das zus&auml;tzliche Datenvolumen entf&auml;llt, wenn Du Deinen Tarif k&uuml;ndigst, in einen kleineren Tarif oder in ein neues Tarif-Portfolio wechselst. Das zus&auml;tzliche Datenvolumen kannst Du nicht Deinen Red+ Karten zuteilen. F&uuml;r Deine Red+ Karten stehen im GigaMobil M maximal 50 GB, im GigaMobil L 100 GB und im GigaMobil Young L 100 GB zur Verf&uuml;gung. F&uuml;rs Surfen 
        strong im EU-Ausland
        |  hast Du im Tarif 
        strong GigaMobil M 80 GB
        |  Datenvolumen, im 
        strong GigaMobil L 130 GB
        |  und im 
        strong GigaMobil Young L 100 GB
        | . Nach Verbrauch kostet ein MB in der EU 0,18 Cent. Die Abrechnung erfolgt kilobytegenau.
      p
        strong
          | Passt? Deal! Samsung Galaxy S24 128 GB &amp; S23 FE 128 GB
          br
          | Aktion bis einschlie&szlig;lich 13. M&auml;rz 2024 oder solange der Vorrat reicht:
      ul
        li
          | Bestellst Du Dir im Aktionszeitraum das 
          strong Samsung Galaxy S24 mit 128 GB
          |  in den Tarifen GigaMobil M bis XL oder in den Tarifen GigaMobil Young L bis XL, 
          strong reduziert sich der Einmalpreis um bis zu 298,90 Euro
          | : Im GigaMobil M zahlst Du z.B. 1 Euro statt 299,90 Euro Einmalpreis.
        li
          | Bestellst Du Dir das 
          strong Samsung Galaxy S23 FE mit 128 GB
          |  in den Tarifen GigaMobil M bis XL oder in den Tarifen GigaMobil Young L bis XL, 
          strong
            | reduziert sich der Einmalpreis um bis zu 48,90 Euro und die monatliche Smartphone-Zuzahlung von 20 Euro auf 10 Euro
          | : Im GigaMobil M zahlst Du z.B. 1 Euro statt 49,90 Euro Einmalpreis. Und sparst insgesamt 288,90 Euro.
        li Das Angebot gilt f&uuml;r Neukund:innen und bei einer Vertragsverl&auml;ngerung.
      p &nbsp;
      p
        strong Doppeltes Datenvolumen in den Tarifen GigaMobil S bis L
        br
        strong Aktion Stand Februar 2024:
        |  Bei Neuabschluss eines Mobilfunk-Vertrags in den Tarifen GigaMobil S bis L erh&ouml;hen wir Dein Datenvolumen. Du bekommst im 
        strong GigaMobil S 12 GB
        | , im 
        strong GigaMobil M 25 GB
        |  und im 
        strong GigaMobil L 50 GB zus&auml;tzlich
        | . Insgesamt hast Du also im GigaMobil S 24 GB, im GigaMobil M 50 GB und im GigaMobil L 100 GB Datenvolumen. Das zus&auml;tzliche Datenvolumen entf&auml;llt, wenn Du k&uuml;ndigst oder den Tarif wechselst. Die Aktion gilt bei Abschluss in allen Vodafone-Shops, auf vodafone.de, &uuml;ber die Hotline und bei von uns autorisierten Vertriebspartner:innen.
      p
        strong Doppeltes Datenvolumen in den Tarifen GigaMobil Young M und L
        br
        strong Aktion Stand Februar 2024:
        |  Du verl&auml;ngerst Deinen Vertrag? Dann verdoppeln wir Dein Datenvolumen in den GigaMobil Young-Tarifen M und L. Insgesamt bekommst Du im 
        strong GigaMobil Young M 60 GB
        |  und im 
        strong GigaMobil Young L 100 GB
        |  pro Monat. Das zus&auml;tzliche Datenvolumen entf&auml;llt, wenn Du k&uuml;ndigst oder den Tarif wechselst. Die Datendopplung gilt nicht f&uuml;r zus&auml;tzliches Datenvolumen aus anderen Aktionen, z.B. dem GigaKombi-Vorteil.
      p
        strong Extra-Datenvolumen im Tarif GigaMobil Young S
        br
        strong Aktion Stand Februar 2024:&nbsp;
        | Du verl&auml;ngerst Deinen Vertrag? Im Tarif GigaMobil Young S erh&ouml;hen wir Dein Datenvolumen. Du bekommst im&nbsp;
        strong GigaMobil Young S 5 GB
        strong zus&auml;tzlich
        | . Insgesamt hast Du also im GigaMobil Young S 15 GB Datenvolumen. Das zus&auml;tzliche Datenvolumen entf&auml;llt, wenn Du k&uuml;ndigst oder den Tarif wechselst. Die Aktion gilt bei Abschluss in allen Vodafone-Shops, auf vodafone.de, &uuml;ber die Hotline und bei von uns autorisierten Vertriebspartner:innen.
        br
        br
        strong
          | Tauschbonus f&uuml;r ausgew&auml;hlte Samsung-, Google-, Xiaomi- und Fairphone-Smartphones
          br
          | Stand Februar 2024:
        | Du kaufst ein Samsung Galaxy S24, Galaxy S24+, Galaxy S24 Ultra, Galaxy S23 FE, Galaxy Z Flip5, Galaxy Z Fold5, Galaxy A54, Google Pixel 7, Pixel 7 Pro, Pixel 7a, Pixel 8, Pixel 8 Pro, Pixel Fold, Xiaomi 13T, 13T Pro, Redmi Note 12, Redmi Note 12 Pro, Redmi 12c, 12 5G, 13 5G oder Fairphone 5. Du nimmst im Aktionszeitraum den Tarif GigaMobil, GigaMobil Young oder FamilyCard dazu. Und Du verkaufst Dein Altger&auml;t mit einem Mindestwert von 1 Euro an unseren Partner Recommerce. Dann bekommst Du 
        strong 12 Monate lang jeden Monat 5 Euro Tauschbonus,
        |  wenn Du das Samsung Galaxy A54, Google Pixel 7a, Xiaomi Redmi Note 12, Redmi Note 12 Pro, Redmi 12c oder Redmi 12 5G kaufst. Du bekommst 
        strong 12 Monate lang jeden Monat 10 Euro Tauschbonus,
        |  wenn Du das Samsung Galaxy S24+, Galaxy S24, Galaxy S23 FE, Galaxy Z Fold5, Galaxy Z Flip5, Google Pixel 7, Pixel 8, Xiaomi 13 5G, 13T, 13T Pro oder Fairphone 5 kaufst. Du bekommst 
        strong 12 Monate lang jeden Monat 20 Euro Tauschbonus,
        |  wenn Du das Samsung Galaxy S24 Ultra, Google Pixel 7 Pro, Pixel 8 Pro oder Pixel Fold kaufst. Den Tauschbonus und den Restwert Deines Altger&auml;ts siehst Du als Gutschrift auf Deiner Mobilfunk-Rechnung.
      p
        | Wenn Du Dein Neuger&auml;t bekommst, hast Du 15 Tage Zeit, Dein Altger&auml;t einzuschicken oder abzugeben. Unsere Mitarbeitenden bzw. unser Partner Recommerce pr&uuml;ft, ob Dein Altger&auml;t die Voraussetzungen erf&uuml;llt. Wenn ja, kommt ein Kaufvertrag zwischen Dir und Recommerce zustande. Wenn nicht, kommt der Kaufvertrag nicht zustande. Du bekommst dann keinen Tauschbonus. Hattest Du Dein Altger&auml;t per Post eingeschickt bekommst Du es zur&uuml;ck. Endet Dein Mobilfunk-Vertrag vorher, endet auch der Tauschbonus. Eine Auszahlung in bar ist nicht m&ouml;glich. Pro gekauftem Neuger&auml;t wird der Tauschbonus nur einmal ausgezahlt. Das Angebot gilt nur f&uuml;r Privatpersonen.
      p
        strong Hinweise zur Inzahlungnahme
        br
        | Voraussetzung ist die vollst&auml;ndige und korrekte Durchf&uuml;hrung der Diagnose-Tests auf dem zu verkaufenden Ger&auml;t. Das Ger&auml;t muss innerhalb von 15 Tagen nach Durchf&uuml;hrung des Tests eingeschickt oder in einem Vodafone-Shop abgegeben werden und sich bei Wareneingang im ermittelten Zustand befinden. Dein Vertragspartner ist Recommerce. Unsere Mitarbeitenden bzw. Recommerce pr&uuml;fen Deine Angaben. Falls es Abweichungen gibt, kommt bei Abgabe im Shop kein Kaufvertrag zustande. Bei Postversand bekommst Du von Recommerce ein angepasstes Angebot.
