article#vvl-hardware-details.vvl-hardware-details
    .ws10-belt-container.ws10-belt-container--padding-medium.ws10-belt-container--bg-monochrome-200
            .ws10-belt-container__belt
                .ws10-grid
                    .ws10-grid__inner
                        .ws10-column.ws10-column--12
                            header.vvl-hardware-details__top-container
                                .ws10-spacing-200
                                include imageGallery
                                .ws10-spacing-400
                        .ws10-column.ws10-column--12.ws10-column--medium-6.ws10-column--large-7.ws10-spacing-200
                            section.vvl-hardware-details__left-container
                                .ws10-card
                                    h3.ws10-headline.ws10-headline--h3.ws10-headline--count-me.ws10-spacing-100 Dein neues Smartphone
                                        +optionPicker('Farbe', 'color', '100')
                                        +optionPicker('Speichergröße', 'capacity', '100')
                                    include deliveryDate
                                    h3.ws10-headline.ws10-headline--h4.ws10-spacing-100 Möchtest Du Dein altes Handy verkaufen?
                                    #vvl-hardware-details-tauschbonus-promotional-card.ws10-spacing-100.ws10-spacing-200--large.ws10-is-hidden
                                     include tauschbonusPromotionalCard
                                    include tradeInOptionPicker
                                    include tradeInInput
                                    include ItemSummaryCard
                                    include tradeInOverlayButtonLink
                                    include tauschBonusOverlayButtonLink
                                    #vvl-hardware-details-tradein-overlay
                                    #vvl-hardware-details-tauschbonus-overlay
                                    h3.ws10-headline.ws10-headline--h3.ws10-headline--count-me.ws10-spacing-100 Dein neuer Tarif
                                    include portfolioSwitch
                                    include promotionalSummaryCard
                                    #gigakombi-notification-container.ws10-spacing-200.ws10-is-hidden
                                        .ws10-notification
                                    +optionPicker('Wähle Dein Datenvolumen', 'tariff', '100')
                                    include tariffOverlay
                                include tariffInfo
                        .ws10-column.ws10-column--12.ws10-column--medium-6.ws10-column--large-5.ws10-spacing-200
                            section.vvl-hardware-details__right-container.ws10-sticky--medium
                                #vvl-hardware-details-promotional-card-wrapper
                                include offerSummaryCard
                                #vvl-hardware-details-sticky-price-bar
                        .ws10-column.ws10-column--12.ws10-column--large-12
                            include mediaText

                                
.ws10-spacing-200
    .ws10-belt-container.ws10-belt-container--bg-monochrome-100.ws10-belt-container--padding-medium
        .ws10-belt-container__belt
            .ws10-grid
            .ws10-grid__inner
                .ws10-column.ws10-column--12.ws10-column--large-12
                    include accordions
                    include footnotes
