header(role='banner')
    nav(role='navigation')
        .mod.mod-glnav.glnav
            .meta-nav-wrapper
            .main-nav-wrapper
                .main-nav
                    .belt
                        div
                            a.logo(href='/index.html' itemprop='url')
                                span.icon.icon-vf-inner
                        ul.list-nav-main
                            li#nav-beea8835-1f3e-4f8e-a6b9-424e327d3fbd.nav-item-main.item-main-active.selected
                                a(href='#')
                                    span Mobilfunk
                                .chevron.only-sml-mdm
                                    span.icon
                                .nav-secondary(style='display:block')
                                    ul.list-nav-sec
                                        li.nav-item-sec.item-sec-active.selected
                                            a(href='#')
                                                span Tarife mit Vertrag
                                            .chevron.only-sml-mdm
                                                span.icon
                                            .nav-secondary-sub(style='display:block')
                                                ul.list-sec-sub.four-col
                                                    li#nav-77268e48-d586-49be-a6ae-c68ad07e71b4.nav-item-sub
                                                        a(href='/consumer.html') Red-Tarife
                                                    li#nav-b322355a-8883-4652-bc83-85266e0b4df1.nav-item-sub
                                                        a(href='/young.html') F&uuml;r alle unter 28
                                                .save-area
