#vvl-hardware-details-offer-summary-card
    section.ws10-offer-summary-card
        .ws10-offer-summary-card__content.ws10-offer-summary-card__content--top
            .ws10-offer-summary-card__highlight-badge
                span.ws10-highlight-badge.ws10-highlight-badge--green.ws10-reset-cms.ws10-highlight-badge--standard
                    span.ws10-highlight-badge__text Aktion: Jeden Monat 4 GB geschenkt
            .ws10-offer-summary-card__headline
                h3.ws10-headline.ws10-headline--h3 Smartphone
            .ws10-offer-summary-card__subline-text
                p zzgl. Kosten für den Tarif
        .ws10-offer-summary-card__content.ws10-offer-summary-card__content--middle
            .ws10-offer-summary-card__prices
                table.ws10-offer-summary-card__price-table
                    caption.ws10-offer-summary-card__price-table-caption.ws10-sr-only Preis&uuml;bersicht
                    tbody
                        tr.ws10-offer-summary-card__price-row.ws10-offer-summary-card__price-row--promo-price
                            th(scope='row')
                                strong.ws10-offer-summary-card__price-label Einmal
                            td
                                .ws10-offer-summary-card__promo-price
                                    .ws10-promo-price.ws10-promo-price--medium.ws10-promo-price--right(data-strike-price-text='Standardpreis' data-offer-price-text='Angebotspreis')
                                        p.ws10-sr-only Standardpreis 29,99 &euro; &ndash; Angebotspreis ab 19,99 &euro; einmal
                                            .ws10-promo-price__wrapper(aria-hidden='true')
                                                .ws10-promo-price__price-container
                                                    span.ws10-promo-price__price 99,90
                                                        span.ws10-promo-price__currency &euro;
                                                .ws10-promo-price__condition-after einmal
                        tr.ws10-offer-summary-card__price-row.ws10-offer-summary-card__price-row--promo-price
                            th(scope='row')
                                strong.ws10-offer-summary-card__price-label Pro Monat
                            td
                                .ws10-offer-summary-card__promo-price
                                    .ws10-promo-price.ws10-promo-price--medium.ws10-promo-price--right(data-strike-price-text='Standardpreis' data-offer-price-text='Angebotspreis')
                                        p.ws10-sr-only Standardpreis 29,99 &euro; &ndash; Angebotspreis ab 19,99 &euro; pro Monat
                                            .ws10-promo-price__wrapper(aria-hidden='true')
                                                .ws10-promo-price__price-container
                                                    span.ws10-promo-price__price 99,90
                                                        span.ws10-promo-price__currency &euro;
                                                .ws10-promo-price__condition-after pro Monat
            .ws10-offer-summary-card__legal-text
                p Kein Anschlusspreis. Kein Versand.
        .ws10-offer-summary-card__content.ws10-offer-summary-card__content--bottom
            .ws10-offer-summary-card__additional-text
                p
                    a.ws10-text-link(data-action='overlay' href='/popup/overlay-vvl-ddp.html') Warum kann ich nicht ohne Smartphone verl&auml;ngern?
            .ws10-offer-summary-card__buttons
                .ws10-offer-summary-card__button
                    a.ws10-button.ws10-button--primary.ws10-button--standard.ws10-button--fullwidth.ws10-button--icon.ws10-button--icon-position-left(type='button')
                        span.ws10-button__text
                            | Direkt zum Warenkorb
                .ws10-offer-summary-card__button
                    a.ws10-button.ws10-button--tertiary.ws10-button--standard.ws10-button--fullwidth(type='button')
                        span.ws10-button__text
                            | Zusatzkarte hinzuf&uuml;gen