#vvl-hardware-details-promotional-summary-card.ws10-is-hidden
    #vvl-hardware-details-promotional-summary-card-header.ws10-spacing-50
        .ws10-icon-text
            .ws10-icon-text__icon-container
                .ws10-icon.ws10-icon--mid.ws10-icon--medium
                    img.ws10-icon__img(src='/media/img/icons/Icon-Set-2021/mid-render-icons/simple/rewards-mid.svg')
            .ws10-icon-text__text
                h4 GigaKombi-Vorteile
                    br
                    span#vvl-hardware-details__promotional-summary-card--header-young.ws10-is-hidden
                        |(ab Young S)

    #vvl-hardware-details-promotional-summary-card-notification.ws10-spacing-100.ws10-is-hidden
        .ws10-notification.ws10-notification--info.ws10-notification--white.ws10-notification--small.ws10-reset-cms
            .ws10-notification__sidebar
                svg.ws10-notification-icon.ws10-notification-icon--info.ws10-notification-icon--color-inherit
                    use(xlink:href='/simplicity/icons/notification-info.svg#icon')
            .ws10-notification__content
                .ws10-notification__text
                | Denk dran: Du verlierst Deine GigaKombi-Vorteile im Tarif Young S.

    #vvl-hardware-details-promotional-summary-card-content.ws10-spacing-100.ws10-card.ws10-grey-bg.ws10.border-radius-medium.ws10-is-hidden
                    #vvl-hardware-details-promotional-summary-card-saved-amount.ws10-spacing-100
                        .ws10-icon-text.ws10-headlines.ws10-monochrome
                            .ws10-icon-text__icon-container
                                .ws10-icon.ws10-icon--system.ws10-icon--large
                                    svg.ws10-icon__svg.ws10-system-icon.ws10-system-icon--size-inherit.ws10-system-icon--color-monochrome-600
                                          use(xlink:href='/simplicity/icons/tick.svg#icon')
                            .ws10-icon-text__text Du sparst jeden Monat 10 €
                            
                    #vvl-hardware-details-promotional-summary-card-data-volume
                            .ws10-icon-text.ws10-headlines.ws10-monochrome
                                .ws10-icon-text__icon-container
                                    .ws10-icon.ws10-icon--system.ws10-icon--large
                                        svg.ws10-icon__svg.ws10-system-icon.ws10-system-icon--size-inherit.ws10-system-icon--color-monochrome-600
                                            use(xlink:href='/simplicity/icons/tick.svg#icon')
                                .ws10-icon-text__text Du bekommst <strong>Extra-Datenvolumen </strong>


    a#vvl-hardware-details-promotional-summary-card-button-link.ws10-button-link.ws10-spacing-100.ws10-button-link--color-primary-200(href='#vvl-hardware-details-media-text-card' target='_blank' rel='noopener noreferrer')
            span.ws10-button-link__text.ws10-text.ws10-spacing-0
                | Was ist die GigaKombi?
            svg.ws10-button-link__icon.ws10-button-link__icon--right.ws10-system-icon.ws10-system-icon--size-150.ws10-system-icon--color-primary-200
                 use(xlink:href='/simplicity/icons/chevron-down.svg#icon')
