#vvl-hardware-details-tariff-info
    section.ws10-unordered-horizontal-list
        .ws10-unordered-horizontal-list__headline
            h5 Weitere Infos:
        ul.ws10-unordered-horizontal-list__list
            li.ws10-unordered-horizontal-list__item.ws10-text(data-identifier='pibs')
                a.ws10-text-link(href='//www.vodafone.de/media/downloads/pdf/VF-RedS-Mobil-Mai-2019.pdf' target='_blank' rel='noopener noreferrer') Produktinformationsblatt

