.ws10-promotional-card.ws10-promotional-card--nested
    .ws10-promotional-card__card
        svg.ws10-promotional-card__icon.ws10-system-icon.ws10-system-icon--size-200.ws10-system-icon--color-inherit
            use(xlink:href='/simplicity/icons/environment.svg#icon')
        .ws10-promotional-card__content
            h5.ws10-promotional-card__label Restwert + {{tauschbonusValue}} &euro; Tauschbonus sichern
            .ws10-promotional-card__sublabel.ws10-text.ws10-spacing-0
                p Verkauf Dein Smartphone. Und sicher Dir zus&auml;tzlich zum Restwert den Tauschbonus.
