.ws10-notification.ws10-notification--info.ws10-notification--white.ws10-notification--small.ws10-reset-cms
    .ws10-notification__sidebar
        svg.ws10-notification-icon.ws10-notification-icon--info.ws10-notification-icon--color-inherit
            use(xlink:href='/simplicity/icons/notification-info.svg#icon')
        span.ws10-notification__arrow.ws10-notification--arrow-top
    .ws10-notification__content
        .ws10-notification__text Wir konnten das Modell leider nicht finden.
