#vvl-hardware-details-tradein-option-picker.ws10-spacing-100.ws10-spacing-200--large
    fieldset.ws10-option-picker.ws10-option-picker--text(data-option-count='2')
        .ws10-option-picker__item
            input#ws10-option-picker-item-option-picker-0.ws10-option-picker__input.ws10-sr-only(type='radio' name='option-picker-tradein' value='yes')
            label.ws10-option-picker__label(for='ws10-option-picker-item-option-picker-0')
                .ws10-option-picker__text-container
                    span.ws10-option-picker__text.ws10-option-picker__text--primary
                        | Ja
        .ws10-option-picker__item
            input#ws10-option-picker-item-option-picker-1.ws10-option-picker__input.ws10-sr-only(type='radio' name='option-picker-tradein' value='no' checked)
            label.ws10-option-picker__label(for='ws10-option-picker-item-option-picker-1')
                .ws10-option-picker__text-container
                    span.ws10-option-picker__text.ws10-option-picker__text--primary
                        | Nein
