mixin optionPicker(headline, id, spacing)
    include ../partials/optionPicker
block variables
doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= pageTitle
    link(rel='stylesheet' href='/simplicity/assets/css/core.css')
    style
        | /* This CSS comes from the integration layer so that we don't need to duplicate it in every SAILS app which uses the sticky behavior */
        | @media screen and (min-width: 1024px) {
        |     .vvl-hardware-details__right-container.ws10-sticky--medium {
        |         top: 0;
        |         top: calc(var(--navi-height, 0) + var(--ws10-space-200, 0));
        |     }
        | }
body
    .spring
        include ../partials/navigation
        include ../partials/brixPageOptions
        .content
            #loading-container
            block appContent

    script.
        var VF = [];
        var _ddq = {
            push: (trackingData) => {
                console.log('Simulate tracking', trackingData);
            }
        };
    script.
        var sailsPageOptions = !{JSON.stringify(sailsPageOptionsJson)};
    block additionalPageOptions
    script(src='/simplicity/assets/js/vendor.js')
    script(src='/simplicity/assets/js/core.js')
    script(src='/simplicity/assets/js/ie-polyfills.js')
