doctype html
head
    meta(charset='UTF-8')
    title VVL Hawrdware Details Page examples
    link(rel='stylesheet' href='/simplicity/standalone/brix-ws2-bundle.css')

.brix-pad-gutter
    h1
        | Please choose a consumer type
    dl
        dt
            h4 Customer
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='consumer' data-gk-type='')
                    | No GigaKombi
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='consumer' data-gk-type='tv')
                    | GigaKombi TV
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='consumer' data-gk-type='ip')
                    | GigaKombi IP
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='consumer' data-gk-type='iptv')
                    | GigaKombi IP-TV
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='consumer' data-gk-type='br5')
                    | GigaKombi BR5
        dt
            h4 Young
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='young' data-gk-type='')
                    | No GigaKombi
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='young' data-gk-type='tv')
                    | GigaKombi TV
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='young' data-gk-type='ip')
                    | GigaKombi IP
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='young' data-gk-type='iptv')
                    | GigaKombi IP-TV
            dd
                a.brix-button.brix-button--dark.brix-button--standard(href='vvl-tarifauswahl-mit-smartphone.html?deviceId=51' data-consumer-type='young' data-gk-type='br5')
                    | GigaKombi BR5

    script(type='text/javascript').
        const buttons = document.getElementsByClassName('brix-button');
        const buttonsArray = Array.from(buttons);

        const updateStorage = (event) => {
            const target = event.target;
            const consumerType = target.getAttribute('data-consumer-type');
            const gkType = target.getAttribute('data-gk-type');

            const storage = JSON.parse(sessionStorage.getItem('SAILS_VVL'));
            const updatedStorage = {
                ...storage,
                customer: {
                    ...storage.customer,
                    isGigakombiEligible: !!gkType,
                    gigakombiType: gkType,
                    isYoungEligible: consumerType === 'young'
                },
                salesChannel: consumerType
            };
            sessionStorage.setItem('SAILS_VVL', JSON.stringify(updatedStorage));
        };

        buttonsArray.forEach(btn => btn.addEventListener('click', updateStorage));
