#vvl-hardware-details-delivery-date.ws10-spacing-200
    .ws10-icon-text
        .ws10-icon-text__icon-container
            .ws10-icon.ws10-icon--system.ws10-icon--small
                svg.ws10-icon__svg.ws10-system-icon.ws10-system-icon--size-inherit.ws10-system-icon--color-monochrome-600
                    use(xlink:href='/media/img/icons/delivery.svg#icon')
        .ws10-icon-text__text Liefertermin ca. 05.09.2020
