#vvl-hardware-details-tradein-item-summary-card.ws10-spacing-100.ws10-spacing-200--large
    .ws10-item-summary-card.ws10-item-summary-card--nested
        ul
            li
                .ws10-item-summary-card__item
                    .ws10-item-summary-card__middle-container
                        .ws10-item-summary-card__content
                            .ws10-item-summary-card__headline-container
                                h4.ws10-h4.ws10-item-summary-card__headline
                            .ws10-item-summary-card__subline.ws10-text-large
                            .ws10-item-summary-card__copytext.ws10-text
                    .ws10-item-summary-card__icon-button
                        button.ws10-button-icon-only.ws10-button-icon-only--primary.ws10-button-icon-only--transparent.ws10-button-icon-only--standard(aria-label='')
                            svg.ws10-button-icon-only__icon.ws10-system-icon.ws10-system-icon--standard.ws10-system-icon--
                                use(xlink:href='/simplicity/icons/delete.svg#icon')

