div#vvl-hardware-details-media-text-card.ws10-is-hidden
  .ws10-media-text.ws10-media-text--media-top.ws10-media-text__media
    .ws10-media-text__media
      picture.ws10-image.ws10-image--width-full
        source(srcset='	https://www.vodafone.de/media/img/teaser/bestandskunden-imageheader-split-ws10-28.jpg' media='(max-width: 599px)')
        img(src='	https://www.vodafone.de/media/img/teaser/bestandskunden-imageheader-split-ws10-28.jpg' alt='alt text' title='title')
    .ws10-media-text__segment
      .ws10-media-text__headline
        h1.ws10-headline.ws10-headline--h2 Was ist die GigaKombi?
      .ws10-media-text__copytext--container
        .ws10-media-text__copytext.ws10-text-style
          .ws10-spacing-100.ws10-text.ws10-text-normal
          .ws10-spacing-100 Du hast mehr als ein Produkt von uns? Klasse! Denn 
              strong Kombinieren lohnt sich:
          ul.ws10-bullet-list.ws10-spacing-100
                li
                  | Mobilfunk mit TV: 
                  strong 5 &euro; Rabatt 
                  | f&uuml;r Dich
                li
                  | Mobilfunk mit Internet &amp; Festnetz:
                  strong 10 &euro; Rabatt 
                  | f&uuml;r Dich &ndash; und 
                  strong mehr Datenvolumen 
                  | f&uuml;rs Handy
                li
                  | Mobilfunk mit Internet &amp; Festnetz und TV: 
                  strong 15 &euro; Rabatt 
                  | f&uuml;r Dich &ndash; und 
                  strong mehr Datenvolumen 
                  | f&uuml;rs Handy
