#vvl-hardware-details-error-notification.ws10-is-hidden
    .ws10-belt-container.ws10-belt-container--padding-x-large.ws10-belt-container--bg-monochrome-200
        .ws10-belt-container__belt
            .ws10-notification.ws10-notification--error.ws10-notification--white.ws10-reset-cms
                .ws10-notification__sidebar
                    svg.ws10-notification-icon.ws10-notification-icon--info.ws10-notification-icon--color-inherit
                        use(xlink:href='/simplicity/icons/notification-error.svg#icon')
                .ws10-notification__content
                    h5.ws10-notification__headline Es gibt gerade technische Probleme
                    .ws10-notification__text Das tut uns leid. Wir arbeiten schon dran. Und sind gleich wieder für Dich da.
