#vvl-hardware-details-portfolio-switch-container.ws10-is-hidden
    h4.ws10-headline.ws10-headline--h4.ws10-spacing-100
        | Bist Du unter 28 Jahre?
    #vvl-hardware-details-portfolio-switch-option-picker.ws10-spacing-150
        fieldset.ws10-option-picker.ws10-option-picker--text(data-option-count='2')
            .ws10-option-picker__item
                input#ws10-option-picker-item--1703491.ws10-option-picker__input.ws10-sr-only(type='radio' name='option-picker-sales-channel' value='young')
                label.ws10-option-picker__label(for='ws10-option-picker-item--1703491')
                    .ws10-option-picker__text-container
                    span.ws10-option-picker__text.ws10-option-picker__text--primary Ja
            .ws10-option-picker__item
                input#ws10-option-picker-item--1703492.ws10-option-picker__input.ws10-sr-only(type='radio' name='option-picker-sales-channel' value='consumer' checked='')
                label.ws10-option-picker__label(for='ws10-option-picker-item--1703492')
                    .ws10-option-picker__text-container
                    span.ws10-option-picker__text.ws10-option-picker__text--primary Nein
