#vvl-hardware-details-gigakombi-consumer-button-link.ws10-spacing-100
  a.ws10-button-link.ws10-button-link--color-primary-200(data-action='ws10-overlay' href='/popup/1330505.html'  target='_self' rel='noopener noreferrer')
    svg.ws10-button-link__icon.ws10-button-link__icon--right.ws10-system-icon.ws10-system-icon--size-150.ws10-system-icon--color-primary-200
      use(xlink:href='/simplicity/icons/document.svg#icon')
    span.ws10-button-link__text.ws10-text.ws10-spacing-0
      | Wie unterscheiden sich die Tarife?

#vvl-hardware-details-gigakombi-young-button-link.ws10-spacing-100
  a.ws10-button-link.ws10-button-link--color-primary-200(data-action='ws10-overlay' href='/popup/1330505.html'  target='_self' rel='noopener noreferrer')
    svg.ws10-button-link__icon.ws10-button-link__icon--right.ws10-system-icon.ws10-system-icon--size-150.ws10-system-icon--color-primary-200
      use(xlink:href='/simplicity/icons/document.svg#icon')
    span.ws10-button-link__text.ws10-text.ws10-spacing-0
      | Wie unterscheiden sich die Tarife?
