#vvl-hardware-details-tauschbonus-overlay-button-link.ws10-spacing-100.ws10-is-hidden
  a.ws10-button-link.ws10-button-link--color-monochrome-600(data-action='ws10-overlay' href='/playground/brix/tauschbonus-overlay-ws10.html'  target='_self' rel='noopener noreferrer')
     span.ws10-button-link__text.ws10-text.ws10-spacing-0
        strong So geht's:&nbsp;
        | Alle Infos zur Inzahlungnahme