#vvl-hardware-details-text-header
    .ws10-text-header
        .ws10-text-header__container
            h1.ws10-text-header__headline Smartphone
            .ws10-text-header__container-content.ws10-text-header__container-content--with-subline
                h2.ws10-text-header__subline mit Vertrag
                .ws10-text-header__container-price-and-button
                    .ws10-text-header__button
                        a.ws10-button.ws10-button--tertiary.ws10-button--standard.ws10-button--hybrid(href='//vodafone.de/privat/handys-tablets-tarife/alle-smartphones.html' target='_self')
                            span.ws10-button__text
                                | Anderes Smartphone aussuchen
