#vvl-hardware-details-tradein-suggest-input-headline.ws10-spacing-50.ws10-spacing-100--large.ws10-is-hidden
        h4.ws10-headline.ws10-headline--h4
            | Welches Smartphone möchtest Du verkaufen?
#vvl-hardware-details-tradein-suggest-input.ws10-spacing-100.ws10-spacing-200--large.ws10-is-hidden
#vvl-hardware-details-tradein-status-notification.ws10-spacing-200.ws10-is-hidden
    include tradeInNotificationForStatus